@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Shippori Antique B1", sans-serif;
}

html {
  --color-primary: #dbd6d6;
  --color-secondary: #c9f78e;
  --color-tertioary: #ff13c4;
  --color-dark: #313131;
  --color-darker: #000000;
  --color-light: #b6b5b5;
  --color-lighter: #ffffff;
}
.navbar {
  top: 0;
  height: 5vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-dark);
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
  width: 50vw;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
  width: 50vw;
}

.nav-links {
  text-decoration: none;
  color: var(--color-secondary);
  margin-right: 5vw;
}
.nav-logo {
  width: 8vw;
  height: 5vh;
}
.main {
  width: 100vw;
  height: 90vh;
  background-color: var(--color-primary);
}
