@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Shippori Antique B1", sans-serif;
}
html {
  --color-primary: #2ea523;
  --color-secondary: #06eaf1;
  --color-tertioary: #1e33ee;
  --color-dark: #313131;
  --color-darker: #000000;
  --color-light: #d3d3d3;
  --color-lighter: #ffffff;
}
::-webkit-scrollbar {
  width: 0.3em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px var(--color-darker);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-tertioary);
  border-radius: 100vw;
}

.navbar {
  height: 5vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  transition: 200ms ease-in-out;
}
.navbar:hover {
  height: 7vh;
  transition: 200ms ease-in-out;
}
.navbar:hover .nav-left img {
  transform: rotate(90deg);
  transition: 200ms ease-in-out;
}

.nav-left img {
  transform: rotate(-0deg);
  transition: 200ms ease-in-out;
}
.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
  width: 30vw;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
  width: 70vw;
}
.current-page {
  color: var(--color-secondary);
  transition: 200ms ease-in-out;
}
.nav-links {
  text-decoration: none;
  color: var(--color-secondary);
  text-align: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  visibility: hidden;
  margin-top: 0;
  padding-top: 2vh;
  opacity: 0;
  height: 7vh;
  width: 15vw;
  transition: 200ms ease-in-out;
}

.nav-links:hover {
  background-color: var(--color-light);
}

.navbar:hover .nav-links {
  visibility: visible;
  font-size: 1.2rem;
  opacity: 1;
  transition: 200ms ease-in-out;
}

.navbar:hover .current-page {
  opacity: 0;
  transition: 200ms ease-in-out;
}

.nav-logo {
  width: 8vw;
  height: 4.5vh;
}

/* navbar completed */

/* main component */

.main {
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-welcome {
  color: var(--color-primary);
  width: 40vw;
  margin: 10vh 2vw;
  background-color: var(--color-lighter);
  padding: 1rem;
  border-radius: 10px;
}
.main-welcome h1 {
  margin-top: 0;
}
.main-welcome p {
  color: var(--color-darker);
}
.welcome-store-button {
  background-color: var(--color-primary);
  border-radius: 10px;
  border: none;
  width: 25%;
  height: 2.5rem;
  margin: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.welcome-join-button {
  background-color: var(--color-secondary);
  border-radius: 10px;
  border: none;
  width: 25%;
  height: 2.5rem;
  margin: 0.5rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.welcome-join-button:after,
.welcome-store-button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -20px;
  transition: 0.5s;
}

.welcome-join-button:hover,
.welcome-store-button:hover {
  padding-right: 24px;
  padding-left: 8px;
  transition: 200ms ease-in-out;
}
.welcome-join-button:hover::after,
.welcome-store-button:hover::after {
  opacity: 1;
  right: 10px;
}
.main-widget {
  border-radius: 10px;
  background-color: var(--color-lighter);
  height: 75vh;
  width: 60vw;
  margin: 10vh 1vw;
  overflow: hidden;
}
.main-widget-layer {
  display: flex;
  height: 25vh;

  align-items: center;
  justify-content: space-between;
}
.main-widget-layer-inner h3 {
  color: var(--color-tertioary);
}

.main-widget-layer-inner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: inherit;
  width: 50%;
  padding: 4px;
}

.main-header {
  margin-top: 5vh;
  height: 20vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
.main-header > div {
  /* box-shadow: 0 5px 5px 0 var(--color-darker); */
  padding: 3px;
  border-radius: 10px;
  margin: 1vh 3vw;
  height: fit-content;
}
.main-header > div > p,
.main-header > div > h1 {
  text-align: center;
  color: var(--color-darker);
  margin: 1vh;
}

.main-body {
  width: 100%;
  height: fit-content;
  background-color: var(--color-lighter);
  padding: 15vh 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  gap: 3rem;
}
.card {
  height: 45vh;
  width: auto;
  text-align: center;
  padding: 1rem;
  background-color: var(--color-lighter);
  /* box-shadow: 0 5px 5px 0 var(--color-darker); */
  border-radius: 10px;
  overflow: hidden;
}

.card h1 {
  margin-top: 0;
  font-size: 4rem;
  text-align: center;
  opacity: 0.4;
  color: var(--color-dark);
}

.about {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.about-toggle-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.toggle-button {
  cursor: pointer;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  margin: 2rem 4rem;
}

.about-grid {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  justify-content: center;
  gap: 1rem;
}
.about-cards > p {
  overflow-y: scroll;
  overflow-x: scroll;
}
.about-cards > p::-webkit-scrollbar {
  display: none;
}
.about-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 20rem;
  transition: 200ms ease-in-out;
}

.about-cards:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 200ms ease-in-out;
}

/* pages VVVV footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: fill;
  height: fit-content;
  background-color: var(--color-dark);
}
.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-inner > * {
  color: var(--color-lighter);
}

@media only screen and (min-width: 1200px) {
  .navbar:hover .nav-links {
    font-size: 1.2rem;
  }
  .main-widget-layer-inner {
    font-size: 1.2rem;
  }
  .main-welcome {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 550px) {
  .navbar:hover .nav-links {
    font-size: 0.8rem;
  }
  .nav-right {
    padding-right: 5vw;
  }
  .main-widget-layer-inner p {
    font-size: 0.8rem;
  }
  .main {
    flex-direction: column;
    height: 115vh;
    justify-content: flex-start;
    gap: 4vh;
  }
  .main-welcome {
    width: 90%;
    margin-bottom: 1vh;
  }
  .main-widget-layer {
  }
  .main-widget {
    margin-top: 0;
    margin-bottom: 2vh;
    height: 90vh;
    width: 90vw;
  }
}
